<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Workers list</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <style>
        .indent {
            margin-left: 30px;
            margin-right: 30px;
            margin-top: 20px;
        }
    </style>
</head>
<body>


<!--page header-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" id="home_link" href="/home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="all_workers_link" href="/worker/all">Workers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="all_clients_link" href="/project/all">Projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="all_payments_link" href="/payment/all">Payments</a>
            </li>
        </ul>
    </div>
</nav>
<!--end of page header-->


<div class="indent">

    <div id="workerInfo">
        <p th:text="'Worker id: ' + ${worker.getId()}"></p>
        <p th:text="'Worker sername: ' + ${worker.getSername()}"></p>
        <p th:text="'Worker name: ' + ${worker.getName()}"></p>
        <p th:text="'Worker patronymic: ' + ${worker.getPatronymic()}"></p>
        <p th:text="'Worker phone: ' + ${worker.getPhone()}"></p>
        <p th:text="'Worker email: ' + ${worker.getEmail()}"></p>
        <p th:text="'Worker address: ' + ${worker.getAddress()}"></p>
        <p th:text="'Worker first day: ' + ${worker.getFirst_day()}"></p>
        <p th:text="'Worker last day: ' + ${worker.getLast_day()}"></p>
        <p th:text="'Worker post: ' + ${worker.getPost()}"></p>
        <p th:text="'Worker salary: ' + ${worker.getSalary()}"></p>
    </div>

    <table id="workerRolesPage">
        <thead>
        <tr>
            <th> Role</th>
            <th> Description</th>
            <th> Project</th>
            <th> Start date</th>
            <th> End date</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${roles.empty}">
            <td colspan="6"> No roles here</td>
        </tr>
        <tr th:each="role : ${roles}">

            <td><span th:text="${role.getRole()}"> </span></td>

            <td><span th:text="${role.getDescription()}"> </span></td>

            <td>
                <span th:if="${role.getProject() != null}">
                    <a th:href="@{/project/update/{id}(id=${role.getProject().getId()})}" th:text="${role.getProject().getTitle()}" class="btn btn-success"></a>
                </span>
                <span th:if="${role.getProject() == null}">
                    <a th:text="'No project'"> </a>
                </span>
            </td>

            <td><span th:text="${role.getStart_date()}"> </span></td>

            <td><span th:text="${role.getEnd_date()}"> </span></td>


        </tr>
        </tbody>
    </table>
</div>

<!--for bootstrap-->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<!--end for bootstrap-->
</body>
</html>