<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/html">
<head>
    <meta charset="ISO-8859-1">
    <title>Update project</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Update payment</h1>

    <form action="/payment/update" method="post">
        <!-- Add hidden form field to handle update -->
        <input type="hidden" name="p_id" required th:value="${payment.getId()}"/>

        <label for="p_worker">Choose a worker:</label><br>
        <select id="p_worker" name="p_worker" size="6" required>
            <option th:each="worker : ${workers}"
                    th:value="${worker.getId()}"
                    th:text="${worker.getName()} + ' ' + ${worker.getSername()}"
                    th:selected="${worker.getId() == payment.getWorker().getId()}">
            </option>
        </select>
        <br><br>

        <label for="p_type">Type:</label>
        <input type="text" id="p_type" name="p_type" placeholder="Payment type"
               required th:value="${payment.getType()}"><br><br>

        <label for="p_date">Date:</label>
        <input type="text" id="p_date" name="p_date" placeholder="YYYY-MM-DD"
               th:value="${payment.getDate_time()}"><br><br>

        <label for="p_amount">Amount:</label>
        <input type="text" id="p_amount" name="p_amount" placeholder="Payment amount"
               required th:value="${payment.getAmount()}"><br><br>

        <button name="submit_button" type="submit" class="btn btn-info col-2"> Update payment</button>
    </form>

    <hr>

    <a th:href = "'/payment/all'"> Back to payments list</a>
</div>
</body>
</html>